.bs hr{
  width: 35%;
  border-width: 2px;
  border-color: black;
  align-self: left;
  margin-left: 10px;
}
:root{
  --primary: #c3efe9;
  --darkerprimary: #11999e;
  --secondary: #e4f5f9;
  --darkesttext:#40514e;
}
a{
  text-decoration: none;
  color: var(--darkesttext);
}
a:hover{
  text-decoration: none;
  color: var(--darkesttext);
}